* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --primary-color: #b13a1c;
  --highlight: #ff0000;
  --background-color: #040109;
  --light-color: #EBD6FB;
}

body {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}


/* BARRA DE CARGA */

.ovni-cont {
  position: relative;
  width: 650px;
}

.ovni-img {
  position: absolute;
  top: -50px;
  left: 0;
  width: 120px;
  transition: left 1.5s ease-out;
}

.ufo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.barra-cont {
  width: 650px;
  text-align: center;
}

.barra-load {
  width: 100%;
  height: 30px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.barra-fill {
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, #fff, #fff);
  border-radius: 8px;
  transition: width 0.5s ease;
  box-shadow: 0 0 10px #fff;
}

.barra-text {
  font-size: 18px;
  color: white;
  text-shadow: 0 0 10px #fff;
}


/* ERROR 404 */

.error-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.error-cont {
  text-align: center;
  animation: fadeIn 1s ease;
  position: relative;
  z-index: 3;
}

.error-cont h1 {
  font-size: 120px;
  color: #ffffff;
  text-shadow: 0 0 20px #ffffff;
  margin-bottom: 20px;
}

.error-cont h2 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 20px;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}


/* ESTRELLAS */


.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 5;
}

.star {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: var(--light-color);
  border-radius: 50%;
  opacity: 0;
  filter: drop-shadow(0 0 6px white);
  animation: twinkle 2s infinite ease-in-out;
}

.star:nth-child(1) { top: 10%; left: 20%; animation-delay: 0.2s; }
.star:nth-child(2) { top: 40%; left: 70%; animation-delay: 0.5s; }
.star:nth-child(3) { top: 80%; left: 50%; animation-delay: 0.7s; }
.star:nth-child(4) { top: 30%; left: 90%; animation-delay: 1s; }
.star:nth-child(5) { top: 60%; left: 10%; animation-delay: 1.2s; }
.star:nth-child(6) { top: 75%; left: 80%; animation-delay: 1.5s; }
.star:nth-child(7) { top: 20%; left: 40%; animation-delay: 1.8s; }
.star:nth-child(8) { top: 50%; left: 30%; animation-delay: 2s; }
.star:nth-child(9) { top: 90%; left: 60%; animation-delay: 2.3s; }
.star:nth-child(10) { top: 15%; left: 75%; animation-delay: 2.6s; }
.star:nth-child(11) { top: 5%; left: 25%; animation-delay: 0.2s; }
.star:nth-child(12) { top: 25%; left: 75%; animation-delay: 0.5s; }
.star:nth-child(13) { top: 35%; left: 55%; animation-delay: 0.7s; }
.star:nth-child(14) { top: 45%; left: 95%; animation-delay: 1s; }
.star:nth-child(15) { top: 55%; left: 15%; animation-delay: 1.2s; }
.star:nth-child(16) { top: 65%; left: 85%; animation-delay: 1.5s; }
.star:nth-child(17) { top: 70%; left: 45%; animation-delay: 1.8s; }
.star:nth-child(18) { top: 85%; left: 35%; animation-delay: 2s; }
.star:nth-child(19) { top: 95%; left: 65%; animation-delay: 2.3s; }
.star:nth-child(20) { top: 95%; left: 70%; animation-delay: 2.6s; }

@keyframes twinkle {
  0% {
    opacity: 0.2;
    transform: scale(1);
    filter: drop-shadow(0 0 10px white);
  }
  50% {
    opacity: 1;
    transform: scale(1.8);
    filter: drop-shadow(0 0 20px white);
  }
  100% {
    opacity: 0.2;
    transform: scale(1);
    filter: drop-shadow(0 0 10px white);
  }
}